@font-face {
  font-family: Lato;
  src: url("/themes_custom/Fonts/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato;
  src: url("/themes_custom/Fonts/fonts/Lato-Bold.ttf");
}

* {
  font-family: Lato !important;
}
