@font-face {
  font-family: Roboto;
  src: url("https://rawcdn.githack.com/EMERALD0874/Steam-Deck-Themes/0a5a3649d0243eb9046a6f34f84a02d484bc1bca/resources/fonts/Roboto-Regular.ttf?raw=true");
}

@font-face {
  font-family: Roboto;
  src: url("https://rawcdn.githack.com/EMERALD0874/Steam-Deck-Themes/0a5a3649d0243eb9046a6f34f84a02d484bc1bca/resources/fonts/Roboto-Bold.ttf?raw=true");
  font-weight: bold;
}

* {
  font-family: Roboto !important;
}
