.gamepadlibrary_GamepadLibrary_ZBBhe .gamepadtabbedpage_Tab_3eEbS {
  color: #000;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Selected_3Gp1b.gamepadtabbedpage_Tab_3eEbS {
  color: #fff;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS
  .gamepadtabbedpage_TabCount_1ui4I {
  color: #333;
}
.gamepadhomerecentgames_RecentGamesHeader_35iRe {
  color: #000;
}
.gamepadhome_RecentSection_39tNv
  .appportrait_PortraitMessage_3gwMk.appportrait_Message_3CRLA {
  color: #000;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg {
  color: #333;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_FriendsInGame_3z5U1 {
  color: #59bf40;
}
