:root {
  --phantom-color: #000;
}

/* Turn the header art to grayscale */
.gamepadhomerecentgames_RecentGamesBackground_1SRox {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

/* Make recent games colored */
.gamepadhome_RecentSection_39tNv {
  background: var(--phantom-color) !important;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg {
  color: #ccc;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_FriendsInGame_3z5U1 {
  color: #59bf40;
}
.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
  background: none;
}

/* Stylize library */
.gamepadlibrary_GamepadLibrary_ZBBhe {
  background: var(--phantom-color) !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
  background: #000 !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b.gpfocus {
  background: #222 !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe .gamepadtabbedpage_Tab_3eEbS.gpfocus {
  color: #fff !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS
  .gamepadtabbedpage_TabCount_1ui4I {
  color: #ccc;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gpfocus
  .gamepadtabbedpage_TabCount_1ui4I {
  color: #ccc !important;
}
