/* Turn the header art to grayscale */
.gamepadhomerecentgames_RecentGamesBackground_1SRox {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

/* Make recent games red */
.gamepadhome_RecentSection_39tNv {
  background: #900 !important;
}
.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
  backdrop-filter: saturate(2) brightness(0.75);
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg {
  color: #ccc;
}

/* Stylize library */
.gamepadlibrary_GamepadLibrary_ZBBhe {
  background: #900 !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
  background: #000 !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b.gpfocus {
  background: #222 !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe .gamepadtabbedpage_Tab_3eEbS.gpfocus {
  color: #fff !important;
}
.gamepadlibrary_GamepadLibrary_ZBBhe
  .gamepadtabbedpage_Tab_3eEbS.gpfocus
  .gamepadtabbedpage_TabCount_1ui4I {
  color: #8b929a !important;
}
