/* TODO: Replace images with a GitHub URL so we're relying on the repo */
/*
For some godforsaken reason, using vars for image URLs causes the UI to flicker a TON.
Because of this, all images have their links hardcoded. This is hopefully a temporary fix.
*/

/*
~ RECENT GAMES ~
*/
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  > div
  > div
  > .basicgamecarousel_BasicGameCarousel_3MdH5 {
  background-image: url(https://i.imgur.com/6nmiku2.png);
  background-size: contain;
  background-attachment: local;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
  outline: none;
  animation: none;
}
.appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd
  > img {
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
}
/* Most recent game */
.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A- {
  background-image: url(https://i.imgur.com/PsxmKGQ.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/6u0MQq0.png);
  -webkit-mask-size: cover;
}
.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A-
  > .libraryassetimage_LandscapeImage_ZsU8n {
  -webkit-mask-image: url(https://i.imgur.com/wZ7LB1g.png);
  -webkit-mask-size: cover;
}
.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A-
  > .libraryassetimage_LandscapeImage_ZsU8n
  > img {
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
}
/* First of four */
*:nth-child(4n-2)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/SQbPOVs.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/gYR4A7c.png);
  -webkit-mask-size: cover;
}
*:nth-child(4n-2)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/hMKDmv1.png);
  -webkit-mask-size: cover;
}
/* Second of four */
*:nth-child(4n-1)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/zJNv72o.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/zJNv72o.png);
  -webkit-mask-size: cover;
}
*:nth-child(4n-1)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/AmB0gUl.png);
  -webkit-mask-size: cover;
}
/* Third of four */
*:nth-child(4n)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/khxM9ln.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/g54Z20c.png);
  -webkit-mask-size: cover;
}
*:nth-child(4n)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/XNQ9Yzw.png);
  -webkit-mask-size: cover;
}
/* Fourth of four */
*:nth-child(4n-3)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/efW46P5.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/0W77d6V.png);
  -webkit-mask-size: cover;
}
*:nth-child(4n-3)
  > *
  > *
  > *
  > *
  > .appportrait_InRecentGames_biTV-.appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/XBLT2CD.png);
  -webkit-mask-size: cover;
}
/* View more */
.basicgamecarousel_BasicGameCarouselItem_3YYQ9
  .basicgamecarousel_TextBoxCarouselContents_3bvCH {
  background: linear-gradient(313deg, #333333, #555555);
  border: 6px black solid;
}

/*
~ LIBRARY ~
*/
.appgrid_YourCollection_11p6F
  > *
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd
  > img {
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
}
/* First of five */
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-4)
  > .appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/SQbPOVs.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/gYR4A7c.png);
  -webkit-mask-size: cover;
}
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-4)
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/hMKDmv1.png);
  -webkit-mask-size: cover;
}
/* Second of five */
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-3)
  > .appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/zJNv72o.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/zJNv72o.png);
  -webkit-mask-size: cover;
}
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-3)
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/AmB0gUl.png);
  -webkit-mask-size: cover;
}
/* Third of five */
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-2)
  > .appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/khxM9ln.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/g54Z20c.png);
  -webkit-mask-size: cover;
}
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-2)
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/XNQ9Yzw.png);
  -webkit-mask-size: cover;
}
/* Fourth of five */
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-1)
  > .appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/efW46P5.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/0W77d6V.png);
  -webkit-mask-size: cover;
}
.appgrid_YourCollection_11p6F
  > *:nth-child(5n-1)
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/XBLT2CD.png);
  -webkit-mask-size: cover;
}
/* Fifth of five */
.appgrid_YourCollection_11p6F > *:nth-child(5n) > .appportrait_Portrait_1Pf6J {
  background-image: url(https://i.imgur.com/SQbPOVs.png);
  background-size: cover;
  -webkit-mask-image: url(https://i.imgur.com/gYR4A7c.png);
  -webkit-mask-size: cover;
}
.appgrid_YourCollection_11p6F
  > *:nth-child(5n)
  > .appportrait_Portrait_1Pf6J
  > .libraryassetimage_PortraitImage_3Ehhd {
  -webkit-mask-image: url(https://i.imgur.com/hMKDmv1.png);
  -webkit-mask-size: cover;
}
