.basicgamecarousel_BasicGameCarousel_3MdH5 {
  height: 320px !important;
}
.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
  padding-top: 103px;
  padding-bottom: 39px;
}
.gamepadhomerecentgames_RecentGamesHeader_35iRe {
  visibility: hidden;
}
