.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 22px;
  margin: -2px;
}

@keyframes appportrait_growOutline_3wk3d {
  0% {
    border: 12px solid;
    margin: -12px;
    border-radius: 30px;
  }
  100% {
    border: 2px solid;
    margin: -2px;
    border-radius: 22px;
  }
}
@keyframes appportrait_fadeOutline_1FLuV {
  0% {
    border-color: rgba(255, 255, 255, 0);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
@keyframes appportrait_blinker_2tSbN {
  50% {
    border: 2px solid rgba(255, 255, 255, 0.24);
  }
}
