:root {
  --round-radius-size: none;
}

.gpfocus .basicpartnereventspage_BasicPartnerEvent_2yuwU {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: calc(var(--round-radius-size) + 2px);
  margin: 54px auto 14px auto;
}

.focusring_FocusRing_1IZrQ {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: calc(var(--round-radius-size) + 2px);
  margin: -2px;
  animation: focusring_growOutline_Z3LxS_alt 0.4s ease,
    focusring_fadeOutline_2hZu3_alt 0.4s ease,
    focusring_blinker_3wFMM_alt 1.2s ease-in-out 0.4s 20;
}

@keyframes focusring_growOutline_Z3LxS_alt {
  0% {
    border: 12px solid;
    margin: -12px;
    border-radius: calc(var(--round-radius-size) + 10px);
  }
  100% {
    border: 2px solid;
    margin: -2px;
    border-radius: calc(var(--round-radius-size) + 2px);
  }
}
@keyframes focusring_fadeOutline_2hZu3_alt {
  0% {
    border-color: rgba(255, 255, 255, 0);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
@keyframes focusring_blinker_3wFMM_alt {
  50% {
    border: 2px solid rgba(255, 255, 255, 0.24);
  }
}

/* exceptions */
.appactivityday_NoCommentSupport_2CB_R
  > .appactivityday_EventBody_NEMXh
  > .Panel
  > .focusring_FocusRingRoot_3PH_X
  > .focusring_FocusRing_1IZrQ,
.controllerconfiguratorchoosebinding_ChooseBindingContainer_1Kj9l
  > .gamepadtabbedpage_GamepadTabbedPage_3IBLc
  > .gamepadtabbedpage_TabContents_WDa0_
  > .overlappingtransition_TransitionGroup_11Twu
  > .overlappingtransition_ContentWrapper_1knAs
  > .Panel
  > .gamepadtabbedpage_TabContentsScroll_1X4dt
  > .focusring_FocusRingRoot_3PH_X
  > .focusring_FocusRing_1IZrQ {
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0px;
  margin: 0px;
  animation: focusring_growOutline_Z3LxS 0.4s ease,
    focusring_fadeOutline_2hZu3 0.4s ease,
    focusring_blinker_3wFMM 1.2s ease-in-out 0.4s 20;
}
