/* General */
.DialogInput {
  border-radius: 20px;
  overflow: hidden;
}
button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover,
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary,
div.basiccontextmenu_contextMenuContents_TBSbv {
  border-radius: 20px;
}
.ModalPosition_Content
  > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss) {
  border-radius: 20px;
}

/* Recent games and library */
.libraryassetimage_Image_24_Au {
  border-radius: 20px;
}
.appportrait_LibraryItemBox_WYgDg {
  border-radius: 20px;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg::after {
  border-radius: 20px;
}
.gamepadsearch_ResultTemplateImage_3K3Bx {
  border-radius: 20px;
}
.BasicUI .libraryassetimage_GreyBackground_2E7G8 {
  border-radius: 20px;
}
.BasicUI .allcollections_Collection_3IWn- {
  border-radius: 20px;
  overflow: hidden; /* This is to prevent the collection image from overflowing the collection box */
}
.steamdeckcompatfilter_CompatFilterDialog_21qvB {
  border-radius: 20px;
}
.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3:nth-child(1) {
  border-radius: 20px 20px 0px 0px;
}
.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3:nth-child(4) {
  border-radius: 0px 0px 20px 20px;
}
.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3:last-child {
  border-radius: 20px;
}
.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3:nth-of-type(1):nth-last-child(3) {
  border-radius: 20px !important;
}
.BasicUI
  .appfilterpane_Container_170Np
  .appfilterpane_FilterArea_1ennW
  .appfilterpane_FilterBucket_1axoi {
  border-radius: 20px;
}
.appportrait_AppPortraitBanner_N8aJr {
  border-radius: 20px;
}
.gamepadlibrary_AppGridFilterHeader_eGFYo {
  border-radius: 20px;
}
.basicgamecarousel_TextBoxCarouselContents_3bvCH {
  border-radius: 20px;
}

/* What's new */
.gamepadhomewhatsnew_Darkener_1n_1X {
  border-radius: 20px 20px 0px 0px;
}
.gamepadhomewhatsnew_EventImage_116GS {
  border-radius: 20px 20px 0px 0px;
}
.gamepadhomewhatsnew_EventPreviewOuterWrapper_10b1V:hover
  .gamepadhomewhatsnew_EventImage_116GS,
.gpfocus .gamepadhomewhatsnew_EventImage_116GS {
  border-radius: 30px 30px 0px 0px;
}
.gamepadhomewhatsnew_EventInfo_6TGe7 {
  border-radius: 0px 0px 20px 20px;
}
.recentlycompleted_RecentlyCompletedItem_3OC7i {
  border-radius: 20px;
  overflow: hidden;
}
.marketingmessages_MarketingMessage_28UlE {
  border-radius: 20px;
  overflow: hidden;
}

/* Trending among friends (annoying to mess with outlines with, sorry if this is confusing lol) */
.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ {
  height: 30px;
  border-radius: 0px 0px 20px 20px;
}
.gamecapsule_GameCapsule_fXdhj
  > .libraryassetimage_GreyBackground_2E7G8
  > img.libraryassetimage_Image_24_Au.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03 {
  border-radius: 0px;
}
.gamecapsule_GameCapsule_fXdhj > .libraryassetimage_GreyBackground_2E7G8 {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.gamecapsule_GameCapsule_fXdhj {
  background-color: #00000000;
}
.gamecapsule_Friends_3gKVI {
  margin-left: 10px;
}
.gamecapsule_InLibrary_fyHna {
  border-radius: 20px;
}

/* Friends */
.gamepadhomefriends_FavoriteFriend_3SLpz,
.gamepadhomefriends_GoToFriends_MVc_6 {
  border-radius: 20px;
}
.gamepadhomefriends_InGameGame_KLo2n {
  border-radius: 20px;
}
.BasicUI
  .appactivityday_ActivityAchievementUnlocked_yJLy7
  .appactivityday_PrimaryAchievement_26Qli {
  border-radius: 20px;
}
.appactivityday_Event_UVeN0 {
  border-radius: 20px;
  overflow: hidden;
}
.appactivityday_PlayedGameFirstTime_3fdEo
  > .appactivityday_EventHeadline_QCKBq {
  border-radius: 20px;
}
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
  border-radius: 0px 0px 20px 20px;
}
.BasicUI
  .appactivityday_ActivityAchievementUnlocked_yJLy7
  .appactivityday_PrimaryAchievement_26Qli {
  border-radius: 20px;
}
.BasicUI
  .appactivityday_ScreenshotCarousel_1pdQd
  .appactivityday_CarouselThumbs_1tRKR
  .appactivityday_CarouselThumb_1Lot- {
  border-radius: 20px;
  overflow: hidden;
}
.gamepadsearch_ResultTemplateImage_3K3Bx {
  border-radius: 20px;
  overflow: hidden;
}
.FriendPickerFriendList,
.FriendPickerFriendList._DialogInputContainer {
  border-radius: 20px;
}

/* Game details */
.BasicUI .spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  border-radius: 20px;
}
.BasicUI
  .appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  border-radius: 20px;
}
.BasicUI .spotlightgameplaysummary_SummaryAchievement_qBmIH {
  border-radius: 20px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
  border-radius: 20px;
}
.appdetailsachievementssection_AchievementCarouselItem_mbFSn.appdetailsachievementssection_Detailed_3KGi6 {
  border-radius: 20px;
}
.BasicUI .appdetailscommunityfeed_CommunityItem_3QS6O {
  border-radius: 20px;
}
.appdetailscommunityfeed_ArtItem_1aP1b {
  border-radius: 20px 20px 0px 0px;
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei
  .appdetailsgameinfopanel_Details_3sfpA {
  border-radius: 20px;
}
.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w {
  border-radius: 20px;
}
.basicappdetailssectionstyler_DeckVerifiedFeedbackConfirmationContainer_3G0l_,
.basicappdetailssectionstyler_DeckVerifiedFeedbackContainer_3Y8xV {
  border-radius: 20px;
}
.basicappdetailssectionstyler_DeckVerifiedFeedbackConfirmationContainer_3G0l_
  .basicappdetailssectionstyler_DeckVerifiedFeedbackButton_2F-oC,
.basicappdetailssectionstyler_DeckVerifiedFeedbackContainer_3Y8xV
  .basicappdetailssectionstyler_DeckVerifiedFeedbackButton_2F-oC {
  border-radius: 20px;
}
.BasicUI .appdetailssection_Highlight_38t1m {
  border-radius: 20px 20px 0 0;
}
.appdetailsactivitysection_NoActivity_2-kDc,
.appdetailsactivitysection_Loading_3UShz {
  border-radius: 20px;
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei {
  border-radius: 20px;
}

/* Media */
.mediapage_ImageContainer_120HU {
  border-radius: 20px;
}
.mediapage_Screenshot_3Qh8h {
  border-radius: 20px;
}

/* Downloads */
.downloads_SectionItem_1VNuY {
  border-radius: 20px;
}

/* Mods */
.CssLoader_ThemeBrowser_SingleItem_BgImage,
.CssLoader_ThemeBrowser_SingleItem_BgOverlay {
  border-radius: 20px !important;
  overflow: hidden;
}

/* Main-Menu Guides */
.overlayguides_GuideListItemBase_1etIu {
  border-radius: 20px;
}

/* Main-Menu Achievements */
.mainmenuapprunning_OverlayAchievements_2Qced
  .achievementslist_AchievementListItemBase_2Kmn7,
.mainmenuapprunning_OverlayAchievements_2Qced
  .achievementslist_GlobalAchievementListItem_316Uo,
.mainmenuapprunning_OverlayAchievements_2Qced
  .achievementslist_AchievementList_1UXC2,
.mainmenuapprunning_OverlayAchievements_2Qced
  .achievementsheader_StatsBlock__gDkI {
  border-radius: 20px;
}

/* Exit Game Dialog */
.gamepaddialog_GamepadDialogContent_3joNk {
  border-radius: 20px;
}

/* Settings */
.DialogCheckbox_Container,
.gamepadslider_EditableValue_2DXnl {
  border-radius: 20px !important;
}

.controllerconfigurator_interstitial_ControlLabel_tGJeF,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN, /* This is selecting a controller layout */
.controllerconfigurator_CommunityConfigsCallout_1xfC8 {
  border-radius: 20px;
}

.appproperties_AppProperties_1FyBL
  .DialogBody
  .appproperties_TopGapSmall_2evqi {
  margin-top: 0px !important;
}

/* Options Container */
.basiccontextmenu_contextMenuContents_TBSbv
  .Play.basiccontextmenu_contextMenuItem_3PqLg:nth-child(1),
.basiccontextmenu_contextMenuContents_TBSbv
  .Install.basiccontextmenu_contextMenuItem_3PqLg:nth-child(1) {
  border-radius: 20px 20px 0px 0px;
}

.basiccontextmenu_contextMenuContents_TBSbv
  .Play
  ~ .basiccontextmenu_contextMenuItem_3PqLg:nth-last-child(5),
.basiccontextmenu_contextMenuContents_TBSbv
  .Install
  ~ .basiccontextmenu_contextMenuItem_3PqLg:nth-last-child(5) {
  border-radius: 0px 0px 20px 20px;
}

.Play
  ~ .basiccontextmenu_ContextMenuSeparator_zVMb1
  + .basiccontextmenu_contextMenuItem_3PqLg,
.Install
  ~ .basiccontextmenu_ContextMenuSeparator_zVMb1
  + .basiccontextmenu_contextMenuItem_3PqLg {
  border-radius: 20px;
}
