:root {
  --phantom-color: #4ded08 !important;
}
.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
  backdrop-filter: saturate(1) brightness(1.1);
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_FriendsInGame_3z5U1 {
  color: #ccc;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0
  .basicgamecarousel_Play_12eKc
  .basicgamecarousel_ActionIcon_25Qbo {
  color: #ccc;
}
